.addCommentBox {
    display: inline-block;
    width: 75%;
    margin: 3%;
    border: 1px solid black;
    border-radius: 4vh;
}

@media only screen and (max-width: 600px) {
    .addCommentBox {
        font-size: x-small;
    }
}