.post {
    width: 50%;
    margin: 1% 25%;
    border-radius: 2vh;
}

@media only screen and (max-width: 750px) {
    .post {
        width: 80%;
        margin: 2% 10%;
    }
}

.textBox {
    margin-top: 3%;
    display: inline-block;
}

.textBox p {
    margin-bottom: 0;
}

.textBox img {
    max-height: 10%;
    max-width: 10%;
}

.location {
    font-size: 60%;
}

.relativeTime {
    font-size: 50%;
}

.ellipsis {
    max-height: 3%;
    max-width: 3%;
    float: right;
    margin: 2%;
}

@media only screen and (max-width: 650px) {
    .ellipsis {
        max-height: 5%;
        max-width: 5%;
    }
}

.likesComments {
    margin-top: 2%;
    font-size: 75%;
    color: gray;
}

.likesComments img {
    max-height: 0.5%;
    max-width: 0.5%;
}

.likesComments span {
    margin: 0 1%;
}

.likesCommentsButtons {
    width: 35%;
}

@media only screen and (max-width: 1200px) {
    .likesCommentsButtons {
         width: 50%;
     }

    .likesCommentsButtons img {
        max-width: 50%;
        max-height: 50%;
    }
}

@media only screen and (max-width: 700px) {
    .likesCommentsButtons {
        width: 75%;
    }
}

.likesCommentsButtons button {
    border: transparent;
    background-color: transparent;
    border: none;
    color: #747386;
    font-size: small;
}

.likesCommentsButtons button:hover {
    background-color: inherit;
    color: black;
}

.likesCommentsButtons img {
    max-width: 15%;
    max-height: 15%;
    margin-right: 5%;
}