.commentCard {
    background-color: #d9e1eb;
    margin: 1% 0;
    border-radius: 2vh;
}

@media only screen and (max-width: 600px) {
    .commentCard p {
        font-size: x-small;
    }
}

.metaInfo {
    display: inline-block;
}

.metaInfo p {
    margin-bottom: 0;
    font-size: small;
}

.timeStamp {
    float: right;
    font-size: small;
    margin-right: 2%;
}

.innerCard {
    margin-left: 2%;
    margin-top: 2%;
}

.commentText {
    margin-bottom: 2%;
    margin-right: 2%;
}

.commentOptions {
    color: #747386;
}

.commentOptions button {
    background-color: transparent;
    border: none;
    color: #747386;
    font-size: small;
    max-width: 15%;
    padding-left: 0;
    padding-right: 0;
}

@media only screen and (max-width: 1200px) {
    .commentOptions .text {
        display: none;
    }

    .commentOptions button {
        max-width: 20%;
    }
}

@media only screen and (max-width: 400px) {
    .commentOptions button {
        max-width: 25%;
    }

    .commentOptions img {
        max-width: 100%;
        max-height: 100%;
    }
}

.commentOptions button:hover {
    background-color: inherit;
    color: black;
}

.commentOptions img {
    max-width: 15%;
    max-height: 15%;
}

.editBox {
    border: 1px solid gray;
    border-radius: 4vh;
}

@media only screen and (max-width: 600px) {
    .editBox {
        font-size: x-small;
    }
}